body {
	margin: 0;
}

iframe {
	border: none;
	margin: 0;
	position: absolute;
	height: 100vh;
	width: 1273px;
	overflow: hidden;
}
#wildwest {
	left: 0;
	overflow:hidden;
}
#duplicate {
	left: 933px;
    width: 3459px;
    overflow:hidden;
}
#main {
	left: 4339px;
    width: 5222px;
    display: none;
}